<footer>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="col-footer">
                <img src="../assets/images/logo.png">
                <div class="col-content">
                Đến với Bakery, bạn hoàn toàn yên tâm để chọn được cho mình nhưng chiếc bánh ngon nhất, kết hợp đầy đủ, hài hòa các yếu tố về màu sắc, hương vị, kích thước để bạn có những tân hưởng tuyệt với nhất!
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="col-footer">
                <h4 class="title_footer">LIÊN HỆ</h4>
                <div class="col-content">
                        <div class="contactfooter">
								<div class="flop mt">
									<div class="section flex">
										<div class="fright">
											<span>15 Đông Quan, Quan Hoa, Cầu Giấy, Hà Nội</span>
										</div>
									</div>
									<div class="section flex">
										<div class="fright">
											<span><a href="">0967113461</a></span>
										</div>
									</div>
									<div class="section flex">
										<div class="fright">
											<span><a href="">daothiuyen@gmail.com</a></span>
										</div>
									</div>
								</div>
                            </div>
                           
                 </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="col-footer">
                <H4 class="title_menu">TIN MỚI</H4>
                <div class="col-content">
                     
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="col-footer">
                    <H4 class="title_menu">ẢNH</H4>
                <div class="col-content">
                            Đến với Bakery, bạn hoàn toàn yên tâm để chọn được cho mình nhưng chiếc bánh ngon nhất, kết hợp đầy đủ, hài hòa các yếu tố về màu sắc, hương vị, kích thước để bạn có những tân hưởng tuyệt với nhất!
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
