<!--Breadcrumb Section Start-->
<section class="breadcrumb-bg">                
        <div class="theme-container container ">                       
            <div class="site-breadcumb white-clr">                        
                <h2 class="section-title"> <span class="light-font">about </span> <strong class="clr-txt">naturix </strong> <span class="light-font">farmfood </span> </h2>
                <ol class="breadcrumb breadcrumb-menubar">
                    <li> <a href="#"> Home </a> About  </li>                             
                </ol>
            </div>  
        </div>
    </section>
    <!--Breadcrumb Section End-->

    <!-- Organic Farmfood Starts-->
    <section class="organic-farm-2 sec-space-bottom">

        <img alt="" src="assets/img/extra/sec-img-7.png" class="left-bottom-img" />  
        <img alt="" src="assets/img/extra/sec-img-8.png" class="right-top-img" />  

        <div class="pattern"> 
            <img alt="" src="assets/img/icons/white-pattern.png">
        </div>
        <div class="section-icon"> 
            <img alt="" src="assets/img/icons/icon-1.png">
            <div class="ptb-15 icon"> 
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>  
                <span class="light-font"> a taste of </span> <strong>real food</strong>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>  
            </div>
        </div>

        <div class="container rel-div">
            <div class="row">
                <div class="col-sm-6 text-right fsz-16 pt-15 xs-text">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam  enim ad minim veniam, quis nostrud exerci tation.</p>
                </div>
                <div class="col-sm-6 text-left xs-text">
                    <h2 class="section-title"> <span class="light-font">we are </span> <strong>organic farmfood <img src="assets/img/icons/logo-icon.png" alt="" /> </strong> </h2>
                    <h4 class="sub-title"> ABOUT NATURIX FARMFOOD </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="feature-wrap">
                        <img src="assets/img/extra/feature-1.png" alt="" />
                        <h3 class="title-1 ptb-15"> <span class="light-font">fresh from </span> <strong> naturix farm</strong> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.  </p>
                        <a href="#" class="sm-bnt-wht">Read More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="feature-wrap">
                        <img src="assets/img/extra/feature-2.png" alt="" />
                        <h3 class="title-1 ptb-15"> <span class="light-font"> 100%</span> <strong> organic goods</strong> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.  </p>
                        <a href="#" class="sm-bnt-wht">Read More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="feature-wrap">
                        <img src="assets/img/extra/feature-3.png" alt="" />
                        <h3 class="title-1 ptb-15"> <span class="light-font">premium </span> <strong> quality</strong> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.  </p>
                        <a href="#" class="sm-bnt-wht">Read More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="feature-wrap">
                        <img src="assets/img/extra/feature-4.png" alt="" />
                        <h3 class="title-1 ptb-15"> <span class="light-font">100% </span> <strong>natural</strong> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.  </p>
                        <a href="#" class="sm-bnt-wht">Read More</a>
                    </div>
                </div>
            </div>

            <div class="rel-div feature-img">
                <img src="assets/img/extra/feature.png" alt="" />
            </div>
        </div>
    </section>
    <!-- / Organic Farmfood Ends -->      

    <!-- About Us Starts-->
    <section class="short-about sec-space light-bg">

        <img alt="" src="assets/img/extra/sec-img-1.png" class="left-top-img">  
        <img alt="" src="assets/img/extra/sec-img-3.png" class="center-bg-img">  
        <img alt="" src="assets/img/extra/sec-img-4.png" class="left-bottom-img">  

       

    </section>
    <!-- / About Us Ends -->       


