<div class="section section_about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="image_about">
                    <img src="../assets/images/about1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="title_about">
                    <h2>Xin chào chúng tôi là Bakery</h2>
                </div>
                <div class="subtitle">
                    <p>Đến với Bakery chúng tôi hứa hẹn sẽ mang đến cho bạn những cảm giác mới với những hương vị, màu sắc đặc trưng của những chiếc bánh kem thơm ngon</p>
                </div>
                <a class="view_more" href="/about">Xem thêm</a>
            </div>
        </div>
    </div>
</div>

