
<!--Breadcrumb Section Start-->
<section class="breadcrumb-bg">                
    <div class="theme-container container ">                       
        <div class="site-breadcumb white-clr">                        
            <h2 class="section-title"> <strong class="clr-txt">naturix </strong> <span class="light-font">Shop </span> </h2>
            <ol class="breadcrumb breadcrumb-menubar">
                <li> <a href="#"> Home </a> SHOP  </li>                             
            </ol>
        </div>  
    </div>
</section>
<!--Breadcrumb Section End-->
<!-- Shop Starts-->
<section class="shop-wrap sec-space-bottom">
    <div class="container rel-div pt-50">
        <div class="row">
            <div class="col-md-3 pt-15">
                <div class="widget-wrap">
                    <h2 class="widget-title"> <strong>Danh mục</strong> </h2>
                    <div class="divider-full-1"></div>
                    <ul class="cate-widget">

                        <li *ngFor="let cate of categories"> <i class="fa fa-arrow-circle-o-right clr-txt"></i> <a routerLink="/category/{{cate.id}}/products">{{cate.name}}</a> 
                        </li>
                    </ul>
                </div>
                
                <div class="widget-wrap">
                    <h2 class="widget-title"><strong>Sản phẩm cùng loại</strong> </h2>
                    <div class="divider-full-1"></div>
                    <div class="widget-post pt-15">
                        <div class="random-prod" *ngFor="let productRecent of products"> 
                            <div class="random-img"> 
                                <img alt="" src="{{productRecent.image}}">
                            </div>
                            <div class="random-text"> 
                                <h3 class="title-1 no-margin"> <a href="#"> <span class="light-font">{{productRecent.name}}</span></a> </h3>
                                <span class="divider"></span>
                                <div class="price"> 
                                    <strong class="clr-txt">{{productRecent.price}} VNĐ</strong>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-9 pt-15" *ngIf="product">
                <div class="product-single sec-space-bottom  clearfix">
                    <!-- Single Products Slider Starts --> 
                    <div class="col-lg-6 pb-50 col-sm-8 col-sm-offset-2 col-lg-offset-0">
                        <div class="prod-slider sync1">
                            <div class="item"> 
                                <img src="{{product.image}}" alt="">                                           
                            </div> 
                        </div>
                    </div>
                    <!-- Single Products Slider Ends --> 

                    <div class="col-lg-6">
                        <div class="product-content block-inline">

                            <div class="single-caption"> 
                                <h3 class="section-title">
                                    <a href="#">{{product.name}}</a>
                                </h3>
                                <span class="divider-2"></span>
                                <p class="price"> 
                                    <strong class="clr-txt fsz-20">{{product.price}} VNĐ </strong>
                                </p>

                                <div class="fsz-16">
                                    <p>{{product.desc}}</p>
                                </div>

                                <div class="prod-btns">
                                    <div class="quantity">
                                        <button class="btn minus"><i class="fa fa-minus-circle"></i></button>
                                        <input title="Qty" placeholder="01" class="form-control qty" type="text">
                                        <button class="btn plus"><i class="fa fa-plus-circle"></i></button>
                                    </div>
                                    
                                    <div class="form-group"> Trạng thái: {{ product.status == 1 ? 'Còn hàng' : 'Hết hàng'}}</div>
                                </div>
                                <ul class="meta">
                                    <li> <strong> CATEGORY </strong> <span *ngIf="cate">:  &nbsp; {{cate.name}}</span> </li>
                                    
                                </ul>
                                <div class="divider-full-1"></div>
                                <div class="add-cart pt-15">
                                    <a href="#" class="theme-btn btn"> <strong> ADD TO CART </strong> </a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>  

                <div class="prod-tabs pb-50">
                    <ul class="tabs fsz-20">
                        <li class="active"><a href="#prod-tab-1" data-toggle="tab"> <span class="light-font">Mô tả </span></a></li>
                        <li class=""><a href="#prod-tab-2" data-toggle="tab"> <span class="light-font">Tag </span></a></li>
                        <li class=""><a href="#prod-tab-3" data-toggle="tab"> <span class="light-font">Đánh giá</span></a></li>
                    </ul>
                    <div class="divider-full-1"></div>

                    <div class="tab-content prod-tab-content">
                        <div id="prod-tab-1" class="tab-pane fade in active">

                            <div class="block-inline pera">
                                <p>{{product.desc}}</p>
                            </div>

                        </div>
                        <div id="prod-tab-2" class="tab-pane fade">

                            <div class="block-inline pera">
                                <p>Các tag sẽ hiển thị ở đây</p>
                            </div>
                        </div>
                        <div id="prod-tab-3" class="tab-pane fade ">

                                <div class="block-inline pera">
                                        <p>Danh sách comment</p>
                                    </div>

                        </div>
                    </div>
                </div>

                

                <div class="your-review">
                    <h3 class="fsz-20 pb-15 text-center"><span class="light-font">Your item </span> <strong>review </strong>  </h3>
                    <div class="divider-full-1"></div>
                    <div class="your-review">
                        <div class="block-inline your-rating">
                            <div class="left">
                                <div class="rating">
                                    <span class="fsz-12 gray-color"> Your Rating :  </span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="right">
                                <div class="rating">
                                    <span class="star active"></span>
                                    <span class="star active"></span>
                                    <span class="star active"></span>
                                    <span class="star active"></span>
                                    <span class="star active"></span>
                                    <span class="fsz-12 gray-color"> Overall Rating : 5/5  </span>
                                </div>
                            </div>
                        </div>

                        <form class="review-form row">
                            <div class="form-group col-sm-4">
                                <input class="form-control" placeholder="Name" required="" type="text">                                                                                     
                            </div>
                            <div class="form-group col-sm-4">
                                <input class="form-control" placeholder="Email" required="" type="email">                                                                                     
                            </div>
                            <div class="form-group col-sm-4">
                                <input class="form-control" placeholder="Website" type="text">                                                                                     
                            </div>
                            <div class="form-group col-sm-12">
                                <textarea class="form-control"  placeholder="Message" cols="12" rows="4"></textarea>                                                                                     
                            </div>
                            <div class="form-group col-sm-12 text-center ptb-15">                                               
                                <button class="theme-btn" type="submit"> <strong> SUBMIT REVIEW </strong> </button>                                            
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Shop Ends -->  