<!--Breadcrumb Section Start-->
<section class="breadcrumb-bg">
    <div class="theme-container container ">
        <div class="site-breadcumb white-clr">
            <h2 class="section-title"> <strong class="clr-txt">naturix </strong> <span class="light-font">Shop </span>
            </h2>
            <ol class="breadcrumb breadcrumb-menubar">
                <li> <a href="#"> Home </a> Contact </li>
            </ol>
        </div>
    </div>
</section>
<!--Breadcrumb Section End-->


<!-- Shop Starts-->
<section class="contact-wrap sec-space-bottom">
    <div class="container rel-div pt-50">

        <div class="row">
            <div class="col-md-8">
                <div class="contact-map">
                    <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8276297077596!2d105.80170781493275!3d21.039581885992376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3e6416efc7%3A0x808741175914b86b!2zMTUgxJDDtG5nIFF1YW4sIFF1YW4gSG9hLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaQ!5e0!3m2!1sen!2s!4v1565967825319!5m2!1sen!2s" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-details">
                    <h3 class="fsz-25"><span class="light-font">Naturix </span> <strong>Address </strong> </h3>
                    <h6 class="sub-title-1 pb-15">ORGANIC STORE</h6>

                    <h5 class="clr-txt fsz-12 pt-15">NATURIX STORE</h5>
                    <p>142 West newton, NY 19088, United States</p>

                    <ul>
                        <li> <strong>Call: </strong> <i>+7 (100) 2234 999</i> </li>
                        <li> <strong>Email: </strong> <i> <a href='#'>info@montero.com</a> </i> </li>
                        <li> <strong>Skype: </strong> <i> <a href='#'> Montero.Property </a> </i> </li>
                        <li> <strong>Facebook: </strong> <i> <a href='#'> Montero.facebook </a> </i> </li>
                        <li> <strong>Twitter: </strong> <i> <a href='#'> @Montero.Property </a> </i> </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="divider-full-1"></div>

        <div class="pt-50 col-md-8 col-md-offset-2">
            <h3 class="fsz-25 text-center"><span class="light-font">Contact </span> <strong>naturix </strong> </h3>
            <h6 class="sub-title-1 text-center">ORGANIC STORE</h6>

            <div class="contact-form pt-50">
                <form class="contact-form row" id="contact-form">
                    <div class="form-group col-sm-4">
                        <input class="form-control" placeholder="Name" name="Name" id="Name" required="" type="text">
                    </div>
                    <div class="form-group col-sm-4">
                        <input class="form-control" placeholder="Email" name="Email" id="Email" required=""
                            type="email">
                    </div>
                    <div class="form-group col-sm-4">
                        <input class="form-control" placeholder="Phone" name="Phone" id="Phone" type="text">
                    </div>
                    <div class="form-group col-sm-12">
                        <textarea class="form-control" placeholder="Message" name="Message" id="Message" cols="12"
                            rows="4"></textarea>
                    </div>
                    <div class="form-group col-sm-12 text-center pt-15">
                        <button class="theme-btn" type="submit"> <strong> SEND EMAIL </strong> </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- / Shop Ends -->