<!--Breadcrumb Section Start-->
<section class="breadcrumb-bg">
    <div class="theme-container container ">
        <div class="site-breadcumb white-clr">
            <h2 class="section-title"> <span class="light-font">about </span> <strong class="clr-txt">naturix </strong>
                <span class="light-font">farmfood </span> </h2>
            <ol class="breadcrumb breadcrumb-menubar">
                <li> <a href="#"> Home </a> List Product </li>
            </ol>
        </div>
    </div>
</section>
<!--Breadcrumb Section End-->
<div class="section section_manager">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add">Add
                    Product</button>
            </div>
            <div class="col-lg-6">
                <div class="search-hero">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                        placeholder="Search">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default ex1">
                    <div class="panel-heading">
                        <div class="panel-title" *ngIf="cates"><span class="glyphicon glyphicon-th-list"></span> Danh
                            sách sản phẩm {{cates.name}}
                        </div>
                    </div>

                    <table class="table table-bordered -table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên sản phẩm</th>
                                <th>Ảnh sản phẩm</th>
                                <th>Giá</th>
                                <th>Mô tả ngắn</th>
                                <th colspan="2">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let product of products | filter:searchText | paginate: {itemsPerPage:5, currentPage: p}">
                                <td>{{product.id}}</td>
                                <td><a
                                        routerLink="/category/{{product.cateId}}/product/detail/{{product.id}}">{{product.name}}</a>
                                </td>
                                <td><img style="width: 100px;" src="{{product.image}}" class="card-img-top" alt="...">
                                </td>
                                <td>{{product.price}}</td>
                                <td>{{product.desc}}</td>
                                <td><a routerLink="/category/{{product.cateId}}/product/edit/{{product.id}}"
                                        class="btn btn-primary">Edit</a></td>
                                <td>
                                    <button class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                        [popoverMessage]="popoverMessage" placement="left" [confirmText]="confirmText"
                                        (confirm)="removeProduct(product)" (cancel)="cancelClicked = true">
                                        Delete
                                    </button>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                </div>
                <pagination-controls (pageChange)="p =$event"></pagination-controls>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Add Product</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="form-group">
                                    <label for="">Tên sản phẩm</label>
                                    <input type="text" class="form-control" [(ngModel)]="product.name"
                                        name="productName">
                                </div>
                                <div class="form-group">
                                    <label for="">Ảnh sản phẩm</label>
                                    <input type="text" class="form-control" [(ngModel)]="product.image" name="image">
                                </div>
                                <div class="form-group">
                                    <label for="">Giá</label>
                                    <input type="text" class="form-control" [(ngModel)]="product.price" name="price">
                                </div>
                                <div class="form-group">
                                    <label for="">Mô tả ngắn</label>
                                    <input type="text" class="form-control" [(ngModel)]="product.desc" name="desc">
                                </div>
                                <label for="">Trạng thái</label>
                                <div>
                                    <input type="checkbox" [(ngModel)]="product.status" name="status"
                                        value="1">
                                    <span style="margin-left:20px">Còn hàng</span>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button data-dismiss="modal" (click)="addProduct()" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>