<div class="section section_manager">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a routerLink="/product/add" class="btn btn-primary">Add</a>
                
            </div>

            
            <div class="col-lg-12">
                <div class="panel panel-default ex1">
                    <div class="panel-heading">
                        <div class="panel-title"><span class="glyphicon glyphicon-th-list"></span> DANH SÁCH SẢN PHẨM
                        </div>
                    </div>
                    <table class="table table-bordered -table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên sản phẩm</th>
                                <th>Ảnh sản phẩm</th>
                                <th>Giá</th>
                                <th>Mô tả ngắn</th>
                                <th colspan="2">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products">
                                <td>{{product.id}}</td>
                                <td><a routerLink="/product/detail/{{product.id}}">{{product.name}}</a></td>
                                <td><img style="width: 100px;" src="{{product.image}}" class="card-img-top" alt="...">
                                </td>
                                <td>{{product.price}}</td>
                                <td>{{product.desc}}</td>
                                <td><a routerLink="/product/edit/{{product.id}}" class="btn btn-primary">Edit</a></td>
                                <td><a style="color: #fff" (click)="removeProduct(product)"
                                        class="btn btn-danger">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <app-product-detail [product]="selectedProduct"></app-product-detail> -->
        </div>
    </div>
</div>