<div class="container">
    <div class="">
        <form action="">
            <div class="form-group">
                <label for="">Tên sản phẩm</label>
                <input type="text" class="form-control" [(ngModel)]="product.name" name="productName">
            </div>
            <div class="form-group">
                <label for="">Ảnh sản phẩm</label>
                <input type="text" class="form-control" [(ngModel)]="product.image" name="image">
            </div>
            <div class="form-group">
                <label for="">Giá</label>
                <input type="text" class="form-control" [(ngModel)]="product.price" name="price">
            </div>
            <div class="form-group">
                <label for="">Mô tả ngắn</label>
                <input type="text" class="form-control" [(ngModel)]="product.desc" name="desc">
            </div>
            <div class="form-group">
                <label>Category</label>
                <select name="Category" id="" class="form-control" [(ngModel)]="product.cateId">
                    <option *ngFor="let cate of cates" value="{{cate.id}}">{{cate.name}}</option>
                </select>
            </div>
            <button class="bt btn-primary" data-dismiss="modal" (click)="addProduct()">Submit</button>
        </form>
    </div>
</div>