<section class="product">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <img src="{{Product.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{title}}</h5>
                  <p class="card-text">{{Product.name}}</p>
                  <p class="card-text">{{Product.desc}}</p>
                  <p>Giá: {{Product.price}}</p>
                  <span>Tình trạng: {{Product.status ? 'Còn hàng' : 'Hết hàng'}}</span>
                  <button class="btn btn-primary" (click)="onClickMe($event)">Mua hàng</button>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="card">
              <img src="{{Product.img}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{Product.name}}</p>
                <p class="card-text">{{Product.desc}}</p>
                <p>Giá: {{Product.price}}</p>
                <span>Tình trạng: {{Product.status ? 'Còn hàng' : 'Hết hàng'}}</span>
                <input type="text" (keyup)="handleKeyUp($event)" class="form-control"/>
              </div>
            </div>
      </div>
    </div>
</section>
    


