<div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <form action="">
                <div class="form-group">
                    <label for="">Tên danh mục</label>
                    <input type="text" class="form-control" [(ngModel)]="cate.name" name="cateName">
                </div>
                <div class="form-group">
                    <label for="">Ảnh danh mục</label>
                    <input type="text" class="form-control" [(ngModel)]="cate.image" name="image">
                </div>
                <button class="bt btn-primary" data-dismiss="modal" (click)="addCategory()">Submit</button>
            </form>
        </div>
    </div>
