<section class="product_featured">
    <div class="container">
        <div class="title_module_produdt">
            <h5>SẢN PHẨM MỚI</h5>
        </div>
        <div class="row">
                <div class="col-lg-3" *ngFor ="let product of products">
                    <div class="card" >
                        <div class="main">
                            <img src="{{product.img}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">{{product.name}}</p>
                                <p>Giá: {{product.price}}</p>
                                <a class="btn btn-primary" (click)="detailProduct(product)">Chi tiết</a>
                            <input type="hidden" name="product-name" [(ngModel)] = "product.name"/>
                            <select class="hidden" name="product-status" id="" [(ngModel)] = "product.status">
                              <!-- <p>Tình trạng: {{product.status == 1 ? 'Còn hàng' : 'Hết hàng'}}</p>
                    <button class="btn btn-danger" (click)="removeProduct(product)">Remove</button>
                    <button class="btn btn-primary" routerLink="/product/edit/{{product.id}}">Edit</button> -->
                            </select>
                            </div>
                        </div>
                        </div>
                </div>
                
                <app-product-detail [product]="selectedProduct"></app-product-detail>
                
        </div>
    </div>
</section>

    



